@model QroApi.MODEL.MenuModel
@*<ul class="vertical-nav-menu metismenu">*@
    @{ var parentList = Model.listMenu.Where(x => x.ParentId == 0 && x.Level == 1).OrderBy(x=>x.Position).ToList();}
    @foreach (var parent in parentList)
    {
        <li>

            @{var childList = Model.listMenu.Where(x => x.ParentId == parent.MenuId).OrderBy(x => x.Position).ToList();}
            @if (childList.Count == 0)
            {
                var area = parent.ControllerName.ToLower() == "account" ? "" : "/Admin";
                <a href="@area/@parent.ControllerName/@parent.ActionName">
                    <i class="metismenu-icon @parent.MenuIcon"></i>@parent.MenuName
                    @*<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>*@
                </a>
            }
            else
            {
                <a href="javascript:void(0);">
                    <i class="metismenu-icon @parent.MenuIcon"></i>@parent.MenuName
                    <i class="metismenu-state-icon fa fa-angle-down caret-left opacity-5"></i>
                </a>
                @foreach (var child in childList)
                {
                    var area = child.ControllerName.ToLower() == "account" ? "" : "/Admin";
                    <ul class="mm-collapse">
                        <li>
                            <a href="@area/@child.ControllerName/@child.ActionName">
                                <i class="metismenu-icon"></i> @child.MenuName
                            </a>
                        </li>
                    </ul>
                }
            }
        </li>
    }
@*</ul>*@